@{
    ViewData["Title"] = "COOPERATION";
}

<div id="second-section">
    <div class="about-content">
        <div id="about-me">
            <h4 id="about-me-title">About me</h4>
            <img src="" id="image"/>
        </div>
        <div id="about-me-description">
             <p>Hello! I'm Sebastian Majcher. Junior .NET Developer from Poland, Kraków. I'm intrested in building web applications using mainly C#, SQL, some front-end and other tools.</p>
             <div class="info-div">
                 <div class="part-info-div"><span class="green">Age </span>17</div>
                 <div class="part-info-div"><span class="green">Residence </span>POLAND</div>
             </div>
             <div class="info-div">
                 <div class="part-info-div"><span class="green">Work culture </span>Any mode</div>
             </div>
             <button class="btn"><span>Download Resume</span></button>
        </div>
    </div>
</div>