@{
    ViewData["Title"] = "COOPERATION";
}

<div id="second-section">
    <div class="about-content">
        <div id="about-me">
            <h4 id="about-me-title">About me</h4>
            <img src="" id="image"/>
        </div>
        <div id="about-me-description">
             <p>Hello! I'm Sebastian Majcher. Junior .NET Developer from Poland, Kraków. I'm intrested in building web applications using mainly C#, SQL, some front-end and other tools.</p>
             <div class="info-div">
                 <div class="part-info-div"><span class="green">Age </span>17</div>
                 <div class="part-info-div"><span class="green">Residence </span>POLAND</div>
             </div>
             <div class="info-div">
                 <div class="part-info-div"><span class="green">Work culture </span>Any mode</div>
             </div>
             <button class="btn"><span>Download Resume</span></button>
        </div>
    </div>
    <h3 class="headline">My job requiments</h3>
    <div class="content-container requiments">
         <p>1. I am a beginner programmer so I care about development and gaining new skills. Forbearance, possible help in tasks, explaining the operation of some functionalities is the help that I expect from my team.</p>
         <p>2. At the moment as a beginner I want to learn, develop skills and use the following technologies on a daily basis:</p>
            <ul>
                <li> C#/ .NET</li>
                <li> SQL</li>
                <li> Git</li>
            </ul>
         <p>3. I want to be in nice company. I like to work in a relaxed atmosphere and for everyone to strive for it like me.</p>
    </div>
     <div id="talents">
        <div class="talent one">
            
            <h2>Independence</h2>
            <p>I can deal with problems myself. I am always doing research and looking for a solution.</p>
        </div>
        <div class="talent two">
            
            <h2>Learner</h2>
            <p>I like to learn new things. Sometimes I have days when I don't study, and then I feel like I'm standing still and others are ahead of me. I have a desire for continuous improvement.</p>
        </div>
        <div id="talent-three-and-four">
            <div class="talent three">
               
                <h2>Disciplined</h2>
                <p>No matter how I feel or what situation I am in, I always take action. To achieve something, you have to work hard for it, no matter what.</p>
            </div>
            <div class="talent four">
                
                <h2>Creative</h2>
                <p>I can create new solutions to problems, invent new functionalities and implement interesting ideas into life.</p>
            </div>
            <div id="talent-five-div">
                <div class="talent five">
                    <h2>Detailed</h2>
                    <p>I always pay attention to details, I like it when everything works perfectly. I always try to improve or correct small details.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="talents">
        <div class="talent one">
            
            <h2>Football</h2>
            <p>I love watching football games. I also played for 5 years in the club, so football is my life.</p>
        </div>
        <div class="talent two">
            
            <h2>Gym and exercise</h2>
            <p>I like to exercise, especially in the gym. I feel stronger, it gives me a lot of satisfaction, and a lot of health.</p>
        </div>
        <div id="talent-three-and-four">
            <div class="talent three">
               
                <h2>Podcasts</h2>
                <p>In my free time I listen to podcasts, mainly about IT. My favorites are: "Porozmawiajmy o IT" - Krzysztof Kempiński, and "Pierwsze kroki w IT" - Mateusz Bogolubow.</p>
            </div>
            <div class="talent four">
                
                <h2>Meetings with friends</h2>
                <p>I like spending time with my friends. It gives me a lot of happiness and pleasure, as well as a sense of worth.</p>
            </div>
            <div id="talent-five-div">
                <div class="talent five">
                    <h2>Technology</h2>
                    <p>I am constantly interested in the IT world. I like discovering new technologies, new devices that make our everyday life easier.</p>
                </div>
            </div>
        </div>
    </div>
</div>