
*.dll
*.pdb
*.sentinel
portfolio-site/bin/Debug/net6.0/portfolio-site.dll
*.vsidx
*.sentinel
*.dll
*.dll
*.sentinel
portfolio-site/.vs/portfolio-site/v17/.suo
portfolio-site/.vs/portfolio-site/v17/.suo
