@{
    ViewData["Title"] = "Projects";
}

<section id="first-section">
    <h1 class="page-title">Projects</h1>
    <p>
        <a asp-controller="Home" asp-action="Index">Home </a>/ Projects
    </p>
    <a href="#second-section" class="mouse_btn" id="mouse-btn">
        <i class="fa fa-chevron-down"></i>
    </a>
</section>
<section id="second-section">
    <div class="content-container">
        
    </div>
</section>