@{
    ViewData["Title"] = "Projects";
}

<section id="first-section">
    <h1 class="page-title">Projects</h1>
    <p>
        <a asp-controller="Home" asp-action="Index">Home </a>/ Projects
    </p>
    <a href="#second-section" class="mouse_btn" id="mouse-btn">
        <i class="fa fa-chevron-down"></i>
    </a>
</section>
<section id="second-section">
    <div class="content-container projects">
        <h1 class="headline">Expense management app</h1>
        <img src="~/Images/dashboard.png" id="project-img"/>
        <div class="project-container">
            <p class="project-description"><strong>Client’s name:</strong> None (Own project)</p>
            <p class="project-description"><strong>Short description: </strong>Income and expense management application. The user can add, delete and change transactions and category, and manage his account. The application has a dashboard that displays a chart of the last 7 days comparing expenses and income, a donut chart of expenses by category and recent transactions, and counts the balance that remains.</p>
            <p class="project-description"><strong>Technology stack:</strong></p>
            <p id="tech-stack">
                1. ASP .NET 6<br/>
                2. C#<br/>
                3. Entity Framework<br/>
                4. Syncfusion<br/>
                5. Microsoft SQL Server
            </p>
        </div>
    </div>
</section>