<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sebastian Majcher</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/portfolio_site.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-xl navbar-toggleable-xl navbar-light box-shadow mb-3 navigation-bar">
            <div class="container-fluid">
                <a class="navbar-brand watch-only" id="my-name">
                    <span id="first-name">Sebastian</span> 
                    <span id="second-name">Majcher</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="navbar-collapse collapse d-xl-inline-flex link-box">
                    <ul class="navbar-nav flex-grow-1 ul-box">
                        <li class="nav-item">
                            <a class="link-page home-link" asp-area="" asp-controller="Home" asp-action="Index"><span>HOME</span></a>
                        </li>
                        <li class="nav-item link-animation">
                            <a class="link-page portfolio-link" asp-area="" asp-controller="" asp-action=""><span>PORTFOLIO</span></a>
                        </li>
                        <li class="nav-item link-animation about-link">
                            <a class="link-page about-link" asp-area="" asp-controller="" asp-action=""><span>ABOUT</span></a>
                        </li>
                        <li class="nav-item link-animation">
                            <a class="link-page contact-link" asp-area="" asp-controller="" asp-action=""><span>CONTACT</span></a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
