@model portfolio_site.Models.Mail
@{
    ViewData["Title"] = "Contact";
}

<div class="small-section">
    <div id="contact-title-container">
        <span id="contact-title">Contact</span>
        <p><span class="text-anim"></span></p>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <script>
            var typed = new Typed(".text-anim", {
            strings: ["Work together with you.", "Contact with me."],
            typeSpeed: 100,
            backSpeed: 25,
            loop: true
            });
        </script>
    </div>
</div>
<div id="second-section">
    <div id="contact-info-container">
        <div class="contact-first-div">
            
        </div>
        <div class="contact-second-div">
            <h4 class="headline contact-info">Contact info</h4>
            <div class="mail-and-address">
                <div class="mail">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 64C150 64 64 150 64 256s86 192 192 192c17.7 0 32 14.3 32 32s-14.3 32-32 32C114.6 512 0 397.4 0 256S114.6 0 256 0S512 114.6 512 256v32c0 53-43 96-96 96c-29.3 0-55.6-13.2-73.2-33.9C320 371.1 289.5 384 256 384c-70.7 0-128-57.3-128-128s57.3-128 128-128c27.9 0 53.7 8.9 74.7 24.1c5.7-5 13.1-8.1 21.3-8.1c17.7 0 32 14.3 32 32v80 32c0 17.7 14.3 32 32 32s32-14.3 32-32V256c0-106-86-192-192-192zm64 192c0-35.3-28.7-64-64-64s-64 28.7-64 64s28.7 64 64 64s64-28.7 64-64z"/></svg>
                    <p class="contact-title">Email</p>
                    <p><a href="mailto:sebastianmajcher2005@gmail.com" id="contact-mail">sebastianmajcher2005@gmail.com</a></p>
                </div>
                <div class="address">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M64 32C64 14.3 49.7 0 32 0S0 14.3 0 32V64 368 480c0 17.7 14.3 32 32 32s32-14.3 32-32V352l64.3-16.1c41.1-10.3 84.6-5.5 122.5 13.4c44.2 22.1 95.5 24.8 141.7 7.4l34.7-13c12.5-4.7 20.8-16.6 20.8-30V66.1c0-23-24.2-38-44.8-27.7l-9.6 4.8c-46.3 23.2-100.8 23.2-147.1 0c-35.1-17.6-75.4-22-113.5-12.5L64 48V32z"/></svg>
                    <p class="contact-title">Address</p>
                    <p>Niedźwiedź 87, 32-090 Słomniki, Poland</p>
                </div>
            </div>
            <p id="contact-description">Hi I am Sebastian. Let’s have a chat. I develop in different technologies (mainly C#/.NET, SQL, some front-end and some PHP) but I'm also open to discover new solutions and languages.</p>
        </div>
    </div>
</div>
<h3 class="headline">Contact Form</h3>
<div id="container-for-form">
    <div id="form-div">
        <form>
            @using (Html.BeginForm("SendEmail", "Contact", FormMethod.Post))
            {
                <input id="name" type="text" placeholder="Name" asp-for="Name"/>
                <span asp-validation-for="Name" class="text-danger validation-span"></span>
                <input id="email-input" type="email" placeholder="Email" asp-for="Email"/>
                <span asp-validation-for="Email" class="text-danger validation-span"></span>
                <textarea id="msg" placeholder="Message" asp-for="Message"></textarea>
                <span asp-validation-for="Message" class="text-danger validation-span"></span>
                <div id="submit-button-container">
                    <button type="submit" class="btn form-submit" asp-controller="Contact" asp-action="SendEmail"><span>Send Message</span></button>
                </div>
            }  
        </form>
    </div>
</div>
