
@{
    ViewData["Title"] = "Contact";
}

<div class="small-section">
    <div id="contact-title-container">
        <span id="contact-title">Contact</span>
    </div>
</div>
<div id="second-section">
     
</div>
<div id="container-for-form">
        <div id="form-div">
            <form>
                <input id="name" type="text" placeholder="Name" value="" name="name" required/>
                <input id="email-input" type="email" placeholder="Email" value="" name="email" required/>
                <textarea id="msg" placeholder="Message" value="" name="text" required></textarea>
                <button type="submit" class="btn form-submit" name="send"><span>Send Message</span></button>
            </form>
        </div>
    </div>