@model portfolio_site.Models.Mail
@{
    ViewData["Title"] = "Contact";
}

<div class="small-section">
    <div id="contact-title-container">
        <span id="contact-title">Contact</span>
        <p><span class="text-anim"></span></p>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <script>
            var typed = new Typed(".text-anim", {
            strings: ["Work together with you.", "Contact with me."],
            typeSpeed: 100,
            backSpeed: 25,
            loop: true
            });
        </script>
    </div>
</div>
<div id="second-section">

</div>
<h3 class="headline">Contact Form</h3>
<div id="container-for-form">
    <div id="form-div">
        <form>
            @using (Html.BeginForm("SendEmail", "Contact", FormMethod.Post))
            {
                <input id="name" type="text" placeholder="Name" asp-for="Name"/>
                <span asp-validation-for="Name" class="text-danger validation-span"></span>
                <input id="email-input" type="email" placeholder="Email" asp-for="Email"/>
                <span asp-validation-for="Email" class="text-danger validation-span"></span>
                <textarea id="msg" placeholder="Message" asp-for="Message"></textarea>
                <span asp-validation-for="Message" class="text-danger validation-span"></span>
                <div id="submit-button-container">
                    <button type="submit" class="btn form-submit" asp-controller="Contact" asp-action="SendEmail"><span>Send Message</span></button>
                </div>
            }  
        </form>
    </div>
</div>
