@{
    ViewData["Title"] = "MY CAREER PATH";
}
<section id="first-section">
        <h1 class="page-title">MY CAREER PATH</h1>

        <p>
            <a asp-controller="Home" asp-action="Index">Home </a>/ MY CAREER PATH
        </p>
        <a href="#second-section" class="mouse_btn" id="mouse-btn">
            <i class="fa fa-chevron-down"></i>
        </a>
</section>
<section id="second-section">
        <div class="content-container">
            <h3 class="headline">5 Most Important Things I Learned from programming</h3>
            <div class="description">
                <p>1. I learned that practice makes perfect. I spent a lot of time watching tutorials without writing any code by myself. After a while, I realized that I would not learn anything without my own work. Now I always put practice first.</p>
                <p>2. It is not worth putting your life ahead of tomorrow. If I have goals, dreams, I do it NOW. I realized that by doing nothing and wasting my free time, I will not achieve anything, so I try to spend every free time, for example, listening to IT podcasts. "if I did less work, others compared to me did more." </p>
                <p>3. School won't make me a programmer. I realized that I had to learn on my own to be successful in IT. After school, I try to learn programming whenever I have time and no homework.</p>
                <p>4. Surrounding yourself with people smarter than yourself is a good way to grow. This helps in gaining knowledge, experience and contacts that will bear fruit in the future.</p>
                <p>5. I've learned discipline while writing code, mistakes are something nobody likes, but they are what develops skills and knowledge. I stick to the principle of "If you never give up, you will never lose".</p>
            </div>
            <h3 class="headline">Why programming?</h3>
            <div class="description">
                <p class="font-description">There is something about programming that attracts me. I think that combining passion with work is the way to great success.</p>
                <p class="font-description">Microsoft .NET is a good software development platform. You can write all kinds of applications in it, and for all platforms. I think that the modern C# language and (I suppose the future of the .NET platform) is encouraging for me to develop in this area.</p>
                <p class="font-description">Programming also gives a lot of satisfaction. There is nothing better than seeing the results of hard work.It also gives me a sense of value because, as you know, programming is a prestigious profession.</p>
                <p class="font-description">Being a programmer is not just about writing code. It's about understanding the problem you want to solve and finding the best way to solve it. It's also about having an in-depth knowledge of the tools you use and knowing how to use them effectively. And finally, it's about being able to work with other people to get the best results.</p>
            </div>
            <h3 class="headline">My story</h3>
            <div class="description">
                <p class="font-description">So how did it all start? When I was about 10 years old, I got my first decent computer. I mostly played it like any young kid. After a while, I started to be interested in how this whole computer, apps and systems works? Back then, I liked to install various programs and game cracks because my parents couldn't afford the games I wanted. Often I was able to install working games, that's when I started to play with code changes in the notebook while watching the guides on youtube. I didn't know what I was doing then but I was glad it worked. However, I often accidentally installed viruses that my older friend always removed.</p>
                <p class="font-description">In December 2019, additional html, css and js classes began to be organized in my primary school. I decided to sign up for it. I remember it was complicated for me back then. However, with the end of the 8th grade, it is time to choose high school. I chose the computer science class, not programming class because I did not know what area of computer science I would like to work in and as I wrote earlier, I was interested in IT from an early age. Back then, I was still a bit lost, didn't know where I was going, and I didn't have any plan for life.</p>
                <p class="font-description">At high school, I met new people, some of them are also interested in programming. For some time I have been trying to learn beyond what the school teaches about programming, because I understood that the school knowledge itself is a small part of what you really need to know for your first job.</p>
                <p class="font-description">Now I am trying to build my own personal brand, expand contacts, learn new things to get my first job and stand out among other candidates. I believe that it is very important at the beginning of my career in IT. It seems to me that more experienced programmers already have a lot of contacts and a lot of experience, which allows them to find a new job much easier. <img style="width: 17px;" role="img" class="emoji" alt="😉" src="https://s.w.org/images/core/emoji/14.0.0/svg/1f609.svg"></p>
            </div>
        </div>
</section>