@{
    ViewData["Title"] = "About";
}
<section id="first-section">
        <h1 class="page-title">ABOUT</h1>

        <p>
            <a asp-controller="Home" asp-action="Index">Home </a>/ ABOUT
        </p>
        <a href="#second-section" class="mouse_btn">
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </a>
</section>
<section id="second-section">
        <div class="links">
            <div id="cooperation">
                <a asp-controller="" asp-action="">Cooperation</a> 
            </div>
            <div id="my-career-path">
                <a asp-controller="" asp-action="">My career path</a>
            </div>
        </div>
</section>