

html {
  position: relative;
  min-height: 100%;
}

body {
    padding-top: 0;
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #bbb;
/*    background: #101010;
*/  letter-spacing: 0;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.navigation-bar {
    background: #101010;
    padding-right: 40px;
    padding-left: 40px;
    position: fixed;
    width: 100%;
}

@media(min-width: 1200px) {
    .navigation-bar {
        height: 100px;
    }
}

#first-name {
    color: rgb(171, 168, 168);
}

#first-name, #second-name {
    font-weight: bold;
    font-size: 17px;
}

#second-name {
    color: white;
} 

.link-page {
    color: rgb(171, 168, 168);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
}

.navigation-bar a {
    color: rgb(171, 168, 168);
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    overflow: hidden;
    padding: 4px 20px;
}

@media(min-width: 1199px) {
    .navigation-bar a {
        float: right;
    }
}

.navigation-bar .watch-only {
    padding: 3px 0px;
}

.navigation-bar a span {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

@media(max-width: 1199px) {
    #my-name {
        margin-top: 25px;
        margin-bottom: 25px;
        transition: all 0.5s ease-out;
    }
}

.navigation-bar a span::before {
    position: absolute;
    top: 100%; 
    font-weight: 700;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    color: white;
}

.navigation-bar a:hover span, .navigation-bar a:focus span {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
    color: white;
}

.watch-only {
    cursor: pointer;
}

.home-link span::before {
    content: 'HOME';
}

.portfolio-link span::before {
    content: 'PORTFOLIO';
}

.about-link span::before {
    content: 'ABOUT';
}

.contact-link span::before {
    content: 'CONTACT';
}

a:is(:link, :active, :visited).active {
    color: white;
}

.ul-box {
    position:relative;
    justify-content: right;
}

.navbar-toggler {
    position: relative;
    left: 20px;
    transition: all 0.5s ease-out;
}

@media(max-width: 720px) {
    .navbar-toggler {
        left: 35px;
    }

    #my-name {
        transition: all 0.5s ease-out;
        position: relative;
        margin-left: -25px;
    }
}

.navbar-toggler {
    border: 0;
    box-shadow: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler span {
    display: block;
    height: 2px;
    width: 25px;
    margin-top: 6px;
    margin-bottom: 6px;
    position: relative;
    left: 0;
    opacity: 1;
    transition: all 0.2s ease-out;
    transform-origin: center left;
    background-color: white;
}

.navbar-toggler-icon {
    background-color: white;
}

.navbar-toggler span:nth-child(1) {
    margin-top: 0.3em;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 33%) rotate(-45deg);
}

.navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg);
}

.navbar-toggler span:nth-child(2) {
    opacity: 1;
}

.navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg);
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

